### Cache & Bytecode ###
__pycache__/
*.pyc

### Environnements virtuels ###
/venv/
/myenv/

### IDE ###
/.idea/

### Logs ###
app_errors.log
src/scripts/extraction.log

### Bases de données ###
*.db
*.db-wal
*.db-shm

### Secrets ###
.env
token.json
credentials.json
src/config/credentials.json

### Fichiers générés ###
/src/scripts/json_output/
/src/scripts/pdfs/
/src/scripts/pdfs_extraits/
/src/scripts/txt_output/
/src/pdfs_downloaded/
/pdfs_downloaded/
/src/txt_outputs/
/src/static/docs/
/src/flask_sessions/
/src/src/

### Scripts locaux ###
add_user.py

### Docker ###
docker-compose.override.yml

