*.pyc
add_user.py
/venv
app_errors.log
*.db
*.db-wal
*.db-shm
token.json
.env
credentials.json
src/config/credentials.json
/src/scripts/json_output
/src/scripts/pdfs
/src/scripts/pdfs_extraits
src/scripts/extraction.log
/src/scripts/txt_output
/myenv
