apscheduler
beautifulsoup4
bleach
celery
docxtpl
email-validator
flask
flask-bcrypt
flask-ckeditor
flask-login
flask-migrate
flask-session
flask-wtf
flask_limiter
flask_sqlalchemy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
markdown
mistralai
openai
PyPDF2
pytest
python-dotenv
pytz
redis
requests
tiktoken
