flask
flask-wtf
flask-session
flask-ckeditor
python-dotenv
beautifulsoup4
docxtpl
flask-login
openai
markdown
bleach
gunicorn
flask_sqlalchemy
tiktoken
flask-migrate
apscheduler
email-validator
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pytz
flask_limiter
flask-bcrypt
pytest
celery
redis
requests
PyPDF2
mistralai
