<!-- templates/add_cours.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Ajouter un Cours</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      
      <!-- Champs du Cours -->

      <!-- Programmes associés (many-to-many) -->
      <div class="form-group">
        <label for="{{ form.programmes_associes.id }}">{{ form.programmes_associes.label }}</label>
        {{ form.programmes_associes(class="form-select", multiple=True) }}
        {% for error in form.programmes_associes.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group">
        <label for="{{ form.code.id }}">{{ form.code.label }}</label>
        {{ form.code(class="form-control") }}
        {% for error in form.code.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group">
        <label for="{{ form.nom.id }}">{{ form.nom.label }}</label>
        {{ form.nom(class="form-control") }}
        {% for error in form.nom.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group">
        <label for="{{ form.session.id }}">{{ form.session.label }}</label>
        {{ form.session(class="form-control") }}
        {% for error in form.session.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group">
        <label for="{{ form.heures_theorie.id }}">{{ form.heures_theorie.label }}</label>
        {{ form.heures_theorie(class="form-control") }}
        {% for error in form.heures_theorie.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group">
        <label for="{{ form.heures_laboratoire.id }}">{{ form.heures_laboratoire.label }}</label>
        {{ form.heures_laboratoire(class="form-control") }}
        {% for error in form.heures_laboratoire.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group">
        <label for="{{ form.heures_travail_maison.id }}">{{ form.heures_travail_maison.label }}</label>
        {{ form.heures_travail_maison(class="form-control") }}
        {% for error in form.heures_travail_maison.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>

    
      <!-- Bouton de Soumission -->
      <button type="submit" class="btn btn-primary">Ajouter Cours</button>
    </form>
  </div>
  
{% endblock %}
