{% extends 'base.html' %}

{% block content %}
  <div class="dropdown mb-4">
    <button class="btn btn-primary dropdown-toggle" type="button" id="programmeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Sélectionnez un programme
    </button>
    <ul class="dropdown-menu" aria-labelledby="programmeDropdown">
      {% for programme in programmes %}
        <li>
          <a class="dropdown-item" href="{{ url_for('programme.view_programme', programme_id=programme.id) }}">
            {{ programme.nom }}
          </a>
        </li>
      {% else %}
        <li><span class="dropdown-item-text">Aucun programme trouvé.</span></li>
      {% endfor %}
    </ul>
  </div>

  <!-- Bloc Spécifique aux Sous-Templates -->
  {% block programmes_specific %}
    <!-- Contenu spécifique des sous-templates sera injecté ici -->
  {% endblock %}

{% endblock %}
