{% extends "base.html" %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <!-- Barre latérale des paramètres -->
      <div class="col-md-2">
        <h2 class="mb-4">Paramètres</h2>
        <div class="list-group">
          <a href="{{ url_for('main.change_password') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
            Modifier son mot de passe
            <i class="bi bi-gear"></i>
          </a>
          {% if current_user.is_authenticated and current_user.role == "admin" %}
          <a href="{{ url_for('settings.edit_global_generation_settings') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
            Paramètres IA - Plan-cadre
            <i class="bi bi-gear"></i>
          </a>
          <a href="{{ url_for('settings.prompt_settings') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
            Paramètres IA - Grille d'évaluation
            <i class="bi bi-clipboard-check"></i>
          </a>
          <a href="{{ url_for('main.manage_users') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
            Gestion des utilisateurs
            <i class="bi bi-people"></i>
          </a>
          <a href="{{ url_for('settings.gestion_plans_cours') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
              Gestion des plans de cours
              <i class="bi bi-journal-text"></i>
          </a>
          <a href="{{ url_for('main.gestion_departements') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
            Gestion des départements
            <i class="bi bi-building"></i>
          </a>
          <a href="{{ url_for('main.gestion_programmes_ministeriels') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
            Gestion des programmes ministériels
            <i class="bi bi-journal-text"></i>
          </a>
          <a href="{{ url_for('main.gestion_programmes_cegep') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
            Programmes par Cégep
            <i class="bi bi-building-check"></i>
          </a>
          <a href="{{ url_for('main.add_competence') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
            Ajouter une compétence ministériel
            <i class="bi bi-plus-circle"></i>
          </a>
          <!-- Nouveau lien pour ajouter un élément de compétence -->
          <a href="{{ url_for('main.add_element_competence') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
            Ajouter un élément de compétence
            <i class="bi bi-plus-circle-dotted"></i>
          </a>
            <a href="{{ url_for('system.management') }}" class="list-group-item list-group-item-action list-group-item-secondary mb-2 d-flex justify-content-between align-items-center">
              Gestion Système
              <i class="bi bi-gear-fill"></i>
            </a>
          {% endif %}
        </div>
      </div>

      <!-- Contenu dynamique des paramètres -->
      <div class="col-md-10">
        <div class="card">
          <div class="card-body">
            {% block parametres_content %}
            <!-- Contenu dynamique des paramètres -->
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
