/* Uniformiser les polices */
.toastui-editor-contents,
.toastui-editor-contents *,
.toastui-editor .ProseMirror {
    font-family: inherit !important;
    font-size: inherit !important;
}

/* S'assurer que la couleur du texte est cohérente */
.toastui-editor-contents p {
    color: #212529 !important;
}

/* Styles divers */
.accordion-body > div:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

label.fw-bold {
    color: black;
    padding: 0.2rem;
    border-bottom: 1px solid black;
}
h6 {
    color: black;
    padding: 0.2rem;
    border-bottom: 1px solid black;
}

#actionBar {
    z-index: 1000;
}

body.with-action-bar {
    padding-bottom: 80px;
}
