<!-- templates/add_capacite.html -->
{% extends 'base.html' %}

{% block content %} 
  <div class="container mt-5">
    <h2>Ajouter une Capacité</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      
      <div class="form-group">
        {{ form.capacite.label(class="form-label") }}
        {{ form.capacite(class="form-control") }}
        {% for error in form.capacite.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group">
        {{ form.description_capacite.label(class="form-label") }}
        {{ form.description_capacite(class="form-control", rows=3) }}
        {% for error in form.description_capacite.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group">
        {{ form.ponderation_min.label(class="form-label") }}
        {{ form.ponderation_min(class="form-control") }}
        {% for error in form.ponderation_min.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group">
        {{ form.ponderation_max.label(class="form-label") }}
        {{ form.ponderation_max(class="form-control") }}
        {% for error in form.ponderation_max.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      
      <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
      <!-- Utiliser 'cours_id' et 'plan_id' pour construire l'URL correctement -->
      <a href="{{ url_for('main.view_plan_cadre', cours_id=cours_id, plan_id=plan_id) }}" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
{% endblock %}
