{% extends "parametres.html" %}

{% block parametres_content %}
<div class="container my-5">
    <h1 class="mb-4">Modifier la Règle</h1>
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.regle.label(class="form-label") }}
                    {{ form.regle(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.contenu.label(class="form-label") }}
                    {{ form.contenu(class="form-control", rows="3") }}
                </div>
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
                <a href="{{ url_for('main.gestion_departements') }}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}