<!-- templates/view_competence.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>{{ competence.nom }} ({{ competence.code }})</h2>
    <p><strong>Programme:</strong> {{ competence.programme_nom }}</p>

    <!-- Contexte de Réalisation de la Compétence Principale -->
    <h3>Contexte de Réalisation</h3>
    {% if context_html %}
      <div>{{ context_html | safe }}</div>
    {% else %}
      <p>Aucun contexte de réalisation défini.</p>
    {% endif %}
        
    <!-- Critères de Performance de la Compétence Principale -->
    <h3>Critères de Performance pour l'ensemble de la compétence</h3>
    {% if criteria_html %}
      <div>{{ criteria_html | safe }}</div>
    {% else %}
      <p>Aucun critère de performance défini.</p>
    {% endif %}
  
    <hr>
    
    <!-- Section Éléments de Compétence -->
    <h3>Éléments de Compétence</h3>
    {% if elements_competence %}
      <ul class="list-group">
        {% for element_id, element in elements_competence.items() %}
          <li class="list-group-item">
            <strong>{{ element.nom }}</strong>
            {% if element.criteres %}
              <ul class="mt-2">
                {% for crit in element.criteres %}
                  <li>{{ crit }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <p>Aucun critère de performance défini pour cet élément.</p>
            {% endif %}
            
            <!-- Lien pour éditer l'élément de compétence -->
            <a href="{{ url_for('main.edit_element_competence', element_id=element_id) }}" class="btn btn-sm btn-warning">Modifier Élément</a>
            
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Aucun élément de compétence défini.</p>
    {% endif %}
    
    <hr>
    
    <!-- Boutons d'Action -->
    <a href="{{ url_for('main.edit_competence', competence_id=competence.id) }}" class="btn btn-sm btn-warning">Modifier la Compétence</a>
    
    <!-- Formulaire de Suppression de la Compétence -->
    <form action="{{ url_for('main.delete_competence', competence_id=competence.id) }}" method="POST" style="display: inline;">
      {{ delete_form.hidden_tag() }}
      <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette compétence?');">Supprimer la Compétence</button>
    </form>
    
    <!-- Bouton pour Ajouter un Élément de Compétence -->
    <a href="{{ url_for('main.add_element_competence') }}" class="btn btn-sm btn-primary">Ajouter Élément de Compétence</a>
  </div>
{% endblock %}
